<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>An Example Title</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <h1>Hello, <%= name %>
    </h1>
    <p>This site was accessed at <%= date %>,<span style="text-transform: uppercase;">
                <%= time %>
            </span> </p>
    <p> You are vistor # <%= visitorId %>
    </p>
    <p>
        <%= text %>
    </p>

</body>

</html>